.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  width: 300px;
}

.save-credential-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.save-credential-wrapper label {
  color: #778699;
  font-size: 14px;
  font-weight: 400;
}
.save-credential-wrapper input {
  accent-color: #696cff;
  width: 17px;
  height: 17px;
  margin: 0;
}
