.template-list-wrapper {
  width: 90%;
  height: 100%;
}
.top-navigation-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 52px;
  margin-top: 20px;
}

.top-navigation-wrapper .search-input-wrapper {
  width: 50%;
}
.template-data-container {
  max-width: 950px;
}
table {
  width: 100%;
  margin-top: 20px;
}
th {
  text-align: start;
  color: #1e354e;
  font-weight: 500;
  margin-bottom: 15px;
}
.checkbox-data {
  display: flex;
  align-items: center;
  gap: 15px;
}
.checkbox-data input {
  accent-color: #696cff;
  width: 20px;
  height: 20px;
  margin: 0;
}
td {
  font-weight: 400;
  font-size: 16px;
  color: #1e354e;
  height: 40px;
}
.checkbox-data label {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.edit-wrapper {
  width: 170px;
  position: relative;
}
.edit-wrapper button {
  justify-content: center !important;
  border: none !important;
  padding: 0 !important;
}
.edit-wrapper p {
  color: #1e354e;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.popup-menu {
  position: absolute;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #e2e5ea;
  background: white;
  padding: 10px;
  width: 170px;
  box-shadow: 2px 5px 15px rgba(26, 31, 39, 0.02),
    10px 15px 40px rgba(26, 31, 39, 0.03);
  border-radius: 8px;
  z-index: 5;
}

.show-popup {
  display: flex;
}

.popup-menu button {
  padding: 10px !important;
  width: 100% !important;
}
.popup-menu button:hover {
  background: #696cff;
  color: white;
}
.popup-menu button:hover img {
  filter: brightness(4);
}

.menu-icon {
  cursor: pointer;
}
